<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [4]:
!pip install sqlalchemy==1.3.9

Access is denied.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [5]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Access is denied.
Access is denied.

In [3]:
%load_ext sql

In [1]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [7]:
!pip install -q pandas

Access is denied.

In [4]:
%sql sqlite:///my_data1.db

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [6]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
cursor = con.cursor()

cursor.execute("SELECT * FROM SPACEXTBL")
results = cursor.fetchall()

# Get column names
column_names = [description[0] for description in cursor.description]
print("Column names:", column_names)

unique_sites = pd.read_sql("SELECT DISTINCT launch_site FROM SPACEXTBL", con)
print("Unique launch sites:")
print(unique_sites)
cursor.close()

Column names: ['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']
Unique launch sites:
    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [9]:
unique_sites = pd.read_sql("SELECT * FROM SPACEXTBL where launch_Site like 'CCA%' limit 200", con)
print("Unique launch sites:")
print(unique_sites)

Unique launch sites:
          Date Time (UTC) Booster_Version   Launch_Site  \
0   2010-06-04   18:45:00  F9 v1.0  B0003   CCAFS LC-40
1   2010-12-08   15:43:00  F9 v1.0  B0004   CCAFS LC-40
2   2012-05-22    7:44:00  F9 v1.0  B0005   CCAFS LC-40
3   2012-10-08    0:35:00  F9 v1.0  B0006   CCAFS LC-40
4   2013-03-01   15:10:00  F9 v1.0  B0007   CCAFS LC-40
5   2013-12-03   22:41:00         F9 v1.1   CCAFS LC-40
6   2014-01-06   22:06:00         F9 v1.1   CCAFS LC-40
7   2014-04-18   19:25:00         F9 v1.1   CCAFS LC-40
8   2014-07-14   15:15:00         F9 v1.1   CCAFS LC-40
9   2014-08-05    8:00:00         F9 v1.1   CCAFS LC-40
10  2014-09-07    5:00:00   F9 v1.1 B1011   CCAFS LC-40
11  2014-09-21    5:52:00   F9 v1.1 B1010   CCAFS LC-40
12  2015-01-10    9:47:00   F9 v1.1 B1012   CCAFS LC-40
13  2015-02-11   23:03:00   F9 v1.1 B1013   CCAFS LC-40
14  2015-03-02    3:50:00   F9 v1.1 B1014   CCAFS LC-40
15  2015-04-14   20:10:00   F9 v1.1 B1015   CCAFS LC-40
16  2015-04-27   23:03:00   F9 v1.1 B1016   CCAFS LC-40
17  2015-06-28   14:21:00   F9 v1.1 B1018   CCAFS LC-40
18  2015-12-22    1:29:00     F9 FT B1019   CCAFS LC-40
19  2016-03-04   23:35:00     F9 FT B1020   CCAFS LC-40
20  2016-04-08   20:43:00   F9 FT B1021.1   CCAFS LC-40
21  2016-05-06    5:21:00     F9 FT B1022   CCAFS LC-40
22  2016-05-27   21:39:00   F9 FT B1023.1   CCAFS LC-40
23  2016-06-15   14:29:00     F9 FT B1024   CCAFS LC-40
24  2016-07-18    4:45:00   F9 FT B1025.1   CCAFS LC-40
25  2016-08-14    5:26:00     F9 FT B1026   CCAFS LC-40
26  2017-12-15   15:36:00  F9 FT  B1035.2  CCAFS SLC-40
27  2018-01-08    1:00:00   F9 B4 B1043.1  CCAFS SLC-40
28  2018-01-31   21:25:00  F9 FT  B1032.2  CCAFS SLC-40
29  2018-03-06    5:33:00     F9 B4 B1044  CCAFS SLC-40
30  2018-04-02   20:30:00  F9 B4  B1039.2  CCAFS SLC-40
31  2018-04-18   22:51:00   F9 B4 B1045.1  CCAFS SLC-40
32  2018-06-04    4:45:00  F9 B4  B1040.2  CCAFS SLC-40
33  2018-06-29    9:42:00   F9 B4 B1045.2  CCAFS SLC-40
34  2018-07-22    5:50:00    F9 B5B1047.1  CCAFS SLC-40
35  2018-08-07    5:18:00   F9 B5 B1046.2  CCAFS SLC-40
36  2018-09-10    4:45:00    F9 B5B1049.1  CCAFS SLC-40
37  2018-12-05   18:16:00      F9 B5B1050  CCAFS SLC-40
38  2018-12-23   13:51:00      F9 B5B1054  CCAFS SLC-40
39  2019-02-22    1:45:00   F9 B5 B1048.3  CCAFS SLC-40
40  2019-05-04    6:48:00   F9 B5B1056.1   CCAFS SLC-40
41  2019-05-24    2:30:00   F9 B5 B1049.3  CCAFS SLC-40
42  2019-07-25   22:01:00  F9 B5 B1056.2   CCAFS SLC-40
43  2019-08-06   23:23:00  F9 B5 B1047.3   CCAFS SLC-40
44  2019-11-11   14:56:00   F9 B5 B1048.4  CCAFS SLC-40
45  2019-12-05   17:29:00    F9 B5B1059.1  CCAFS SLC-40
46  2019-12-17    0:10:00  F9 B5 B1056.3   CCAFS SLC-40
47  2020-01-07    2:33:00   F9 B5 B1049.4  CCAFS SLC-40
48  2020-01-29   14:07:00   F9 B5 B1051.3  CCAFS SLC-40
49  2020-02-17   15:05:00   F9 B5 B1056.4  CCAFS SLC-40
50  2020-03-07    4:50:00   F9 B5 B1059.2  CCAFS SLC-40
51  2020-06-04    1:25:00   F9 B5 B1049.5  CCAFS SLC-40
52  2020-06-13    9:21:00   F9 B5 B1059.3  CCAFS SLC-40
53  2020-06-30   20:10:46    F9 B5B1060.1  CCAFS SLC-40
54  2020-07-20   21:30:00  F9 B5 B1058.2   CCAFS SLC-40
55  2020-08-18   14:31:00   F9 B5 B1049.6  CCAFS SLC-40
56  2020-08-30   23:18:00   F9 B5 B1059.4  CCAFS SLC-40
57  2020-10-24   15:31:34   F9 B5 B1060.3  CCAFS SLC-40
58  2020-11-05   23:24:23    F9 B5B1062.1  CCAFS SLC-40
59  2020-11-25    2:13:00  F9 B5 B1049.7   CCAFS SLC-40

                                              Payload  PAYLOAD_MASS__KG_  \
0                Dragon Spacecraft Qualification Unit                  0
1   Dragon demo flight C1, two CubeSats, barrel of...                  0
2                               Dragon demo flight C2                525
3                                        SpaceX CRS-1                500
4                                        SpaceX CRS-2                677
5                                               SES-8               3170
6                                           Thaicom 6               3325
7                                        SpaceX CRS-3               2296
8             OG2 Mission 1  6 Orbcomm-OG2 satellites               1316
9                                           AsiaSat 8               4535
10                                          AsiaSat 6               4428
11                                       SpaceX CRS-4               2216
12                                       SpaceX CRS-5               2395
13                                             DSCOVR                570
14                         ABS-3A Eutelsat 115 West B               4159
15                                       SpaceX CRS-6               1898
16                             Turkmen 52 / MonacoSAT               4707
17                                       SpaceX CRS-7               1952
18           OG2 Mission 2  11 Orbcomm-OG2 satellites               2034
19                                              SES-9               5271
20                                       SpaceX CRS-8               3136
21                                           JCSAT-14               4696
22                                          Thaicom 8               3100
23                         ABS-2A Eutelsat 117 West B               3600
24                                       SpaceX CRS-9               2257
25                                           JCSAT-16               4600
26                                      SpaceX CRS-13               2205
27                                               Zuma               5000
28                                  GovSat-1 / SES-16               4230
29                             Hispasat 30W-6  PODSat               6092
30                                      SpaceX CRS-14               2647
31       Transiting Exoplanet Survey Satellite (TESS)                362
32                                             SES-12               5384
33                                      SpaceX CRS-15               2697
34                                        Telstar 19V               7075
35                                       Merah Putih                5800
36                            Telstar 18V / Apstar-5C               7060
37                                      SpaceX CRS-16               2500
38                                        GPS III-01                4400
39          Nusantara Satu, Beresheet Moon lander, S5               4850
40                       SpaceX CRS-17, Starlink v0.9               2495
41              Starlink v0.9, RADARSAT Constellation              13620
42                            SpaceX CRS-18, AMOS-17                2268
43                          AMOS-17, Starlink 1 v1.0                6500
44                    Starlink 1 v1.0, SpaceX CRS-19               15600
45               SpaceX CRS-19, JCSat-18 / Kacific 1                2617
46             JCSat-18 / Kacific 1, Starlink 2 v1.0                6956
47  Starlink 2 v1.0, Crew Dragon in-flight abort t...              15600
48                  Starlink 3 v1.0, Starlink 4 v1.0               15600
49                     Starlink 4 v1.0, SpaceX CRS-20              15600
50                    SpaceX CRS-20, Starlink 5 v1.0                1977
51                   Starlink 7 v1.0, Starlink 8 v1.0              15600
52  Starlink 8 v1.0, SkySats-16, -17, -18, GPS III...              15410
53                              GPS III-03, ANASIS-II               4311
54                         ANASIS-II, Starlink 9 v1.0               5500
55  Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B               15440
56                    SAOCOM 1B, GNOMES 1, Tyvak-0172               3130
57                     Starlink 14 v1.0, GPS III-04                15600
58                                GPS III-04 , Crew-1               4311
59                    Starlink 15 v1.0, SpaceX CRS-21              15600

        Orbit                                           Customer  \
0         LEO                                             SpaceX
1   LEO (ISS)                                    NASA (COTS) NRO
2   LEO (ISS)                                        NASA (COTS)
3   LEO (ISS)                                         NASA (CRS)
4   LEO (ISS)                                         NASA (CRS)
5         GTO                                                SES
6         GTO                                            Thaicom
7   LEO (ISS)                                         NASA (CRS)
8         LEO                                            Orbcomm
9         GTO                                            AsiaSat
10        GTO                                            AsiaSat
11  LEO (ISS)                                         NASA (CRS)
12  LEO (ISS)                                         NASA (CRS)
13        HEO                           U.S. Air Force NASA NOAA
14        GTO                                       ABS Eutelsat
15  LEO (ISS)                                         NASA (CRS)
16        GTO                 Turkmenistan National Space Agency
17  LEO (ISS)                                         NASA (CRS)
18        LEO                                            Orbcomm
19        GTO                                                SES
20  LEO (ISS)                                         NASA (CRS)
21        GTO                             SKY Perfect JSAT Group
22        GTO                                            Thaicom
23        GTO                                       ABS Eutelsat
24  LEO (ISS)                                         NASA (CRS)
25        GTO                             SKY Perfect JSAT Group
26  LEO (ISS)                                         NASA (CRS)
27        LEO                                   Northrop Grumman
28        GTO                                                SES
29        GTO                                Hispasat  NovaWurks
30  LEO (ISS)                                         NASA (CRS)
31        HEO                                         NASA (LSP)
32        GTO                                                SES
33  LEO (ISS)                                         NASA (CRS)
34        GTO                                            Telesat
35        GTO                                   Telkom Indonesia
36        GTO                                            Telesat
37  LEO (ISS)                                         NASA (CRS)
38        MEO                                               USAF
39        GTO                                 PSN, SpaceIL / IAI
40  LEO (ISS)                                         NASA (CRS)
41        LEO                                             SpaceX
42  LEO (ISS)                                         NASA (CRS)
43        GTO                                           Spacecom
44        LEO                                             SpaceX
45  LEO (ISS)                              NASA (CRS), Kacific 1
46        GTO                        Sky Perfect JSAT, Kacific 1
47        LEO                                             SpaceX
48        LEO                                             SpaceX
49        LEO                                             SpaceX
50  LEO (ISS)                                         NASA (CRS)
51        LEO                                SpaceX, Planet Labs
52        LEO                                SpaceX, Planet Labs
53        MEO                                   U.S. Space Force
54        GTO  Republic of Korea Army, Spaceflight Industries...
55        LEO                      SpaceX, Planet Labs, PlanetIQ
56        SSO                            CONAE, PlanetIQ, SpaceX
57        LEO                                             SpaceX
58        MEO                                               USSF
59        LEO                                             SpaceX

                     Mission_Outcome         Landing_Outcome
0                            Success     Failure (parachute)
1                            Success     Failure (parachute)
2                            Success              No attempt
3                            Success              No attempt
4                            Success              No attempt
5                            Success              No attempt
6                            Success              No attempt
7                            Success      Controlled (ocean)
8                            Success      Controlled (ocean)
9                            Success              No attempt
10                           Success              No attempt
11                           Success    Uncontrolled (ocean)
12                           Success    Failure (drone ship)
13                           Success      Controlled (ocean)
14                           Success              No attempt
15                           Success    Failure (drone ship)
16                           Success              No attempt
17               Failure (in flight)  Precluded (drone ship)
18                           Success    Success (ground pad)
19                           Success    Failure (drone ship)
20                           Success    Success (drone ship)
21                           Success    Success (drone ship)
22                           Success    Success (drone ship)
23                           Success    Failure (drone ship)
24                           Success    Success (ground pad)
25                           Success    Success (drone ship)
26                           Success    Success (ground pad)
27  Success (payload status unclear)    Success (ground pad)
28                           Success      Controlled (ocean)
29                           Success              No attempt
30                           Success              No attempt
31                           Success    Success (drone ship)
32                           Success              No attempt
33                           Success              No attempt
34                           Success                 Success
35                           Success                 Success
36                           Success                 Success
37                           Success                 Failure
38                          Success               No attempt
39                           Success                 Success
40                           Success                 Success
41                           Success                 Success
42                           Success                 Success
43                           Success             No attempt
44                           Success                 Success
45                           Success                 Success
46                           Success                 Success
47                           Success                 Success
48                           Success                 Success
49                           Success                 Failure
50                           Success                 Success
51                           Success                 Success
52                           Success                 Success
53                           Success                 Success
54                           Success                 Success
55                           Success                 Success
56                           Success                 Success
57                           Success                 Success
58                           Success                 Success
59                           Success                 Success

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
total_payload_mass = pd.read_sql("SELECT sum(PAYLOAD_MASS__KG_) FROM SPACEXTBL where Customer like 'NASA%'", con)
print( "total payload mass:")
print( total_payload_mass)

total payload mass:
   sum(PAYLOAD_MASS__KG_)
0                   99980

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [11]:
average_payload_mass = pd.read_sql("SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL where Booster_Version like 'F9 v1.1%'", con)
print( "average payload mass:")
print( average_payload_mass)

average payload mass:
   AVG(PAYLOAD_MASS__KG_)
0             2534.666667

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [12]:
sdate = pd.read_sql("SELECT Date FROM SPACEXTBL where Landing_Outcome = 'Success (ground pad)' order by Date Asc limit 1 ", con)
print( "first succesful landing:")
print( sdate)

first succesful landing:
         Date
0  2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [13]:
names_of_the_boosters = pd.read_sql("SELECT Date, Booster_Version FROM SPACEXTBL where Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000", con)
print( "names of the boosters:")
print( names_of_the_boosters)

names of the boosters:
         Date Booster_Version
0  2016-05-06     F9 FT B1022
1  2016-08-14     F9 FT B1026
2  2017-03-30  F9 FT  B1021.2
3  2017-10-11  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [42]:
totals = pd.read_sql("SELECT count(*) FROM SPACEXTBL where Mission_Outcome like 'Succ%'", con)

print( "total success:")
print( totals)

totalf = pd.read_sql("SELECT count(*) FROM SPACEXTBL where Mission_Outcome like 'Fail%'", con)

print( "total falure:")
print( totalf)

total success:
   count(*)
0       100
total falure:
   count(*)
0         1

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [43]:
max_payload_boosters = pd.read_sql("""
    SELECT Booster_Version 
    FROM SPACEXTBL 
    WHERE PAYLOAD_MASS__KG_ = (
        SELECT MAX(PAYLOAD_MASS__KG_) 
        FROM SPACEXTBL
    )
""", con)

print("Boosters that carried maximum payload mass:")
print(max_payload_boosters)

Boosters that carried maximum payload mass:
   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [44]:
result = pd.read_sql("""
    SELECT 
        CASE substr(Date, 6, 2)
            WHEN '01' THEN 'January' WHEN '02' THEN 'February' WHEN '03' THEN 'March'
            WHEN '04' THEN 'April' WHEN '05' THEN 'May' WHEN '06' THEN 'June'
            WHEN '07' THEN 'July' WHEN '08' THEN 'August' WHEN '09' THEN 'September'
            WHEN '10' THEN 'October' WHEN '11' THEN 'November' WHEN '12' THEN 'December'
        END as month_name,
        Booster_Version, Launch_Site, Landing_Outcome
    FROM SPACEXTBL 
    WHERE substr(Date, 1, 4) = '2015' 
    AND Landing_Outcome LIKE '%drone ship%' 
    AND Landing_Outcome LIKE '%Failure%'
""", con)
print(result)

  month_name Booster_Version  Launch_Site       Landing_Outcome
0    January   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1      April   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [45]:
landing_rank = pd.read_sql("""
    SELECT 
        Landing_Outcome,
        COUNT(*) as outcome_count
    FROM SPACEXTBL 
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    AND Landing_Outcome IS NOT NULL
    GROUP BY Landing_Outcome
    ORDER BY outcome_count DESC
""", con)

print("Landing Outcomes Ranked by Count (2010-06-04 to 2017-03-20):")
print(landing_rank)

Landing Outcomes Ranked by Count (2010-06-04 to 2017-03-20):
          Landing_Outcome  outcome_count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>